[submodule "bundle/vim-git-pair"]
	path = bundle/vim-git-pair
	url = https://github.com/Peeja/vim-git-pair.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-airline.vim"]
	path = bundle/vim-airline.vim
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-distinguished.vim"]
	path = bundle/vim-distinguished.vim
	url = https://github.com/Lokaltog/vim-distinguished
[submodule "bundle/vim-sensible.vim"]
	path = bundle/vim-sensible.vim
	url = https://github.com/tpope/vim-sensible
[submodule "bundle/vim-slim.vim"]
	path = bundle/vim-slim.vim
	url = https://github.com/slim-template/vim-slim
[submodule "bundle/vim-indent-guides.vim"]
	path = bundle/vim-indent-guides.vim
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "bundle/vim-commentary.vim"]
	path = bundle/vim-commentary.vim
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/syntastic.vim"]
	path = bundle/syntastic.vim
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/vim-conffee-script.vim"]
	path = bundle/vim-conffee-script.vim
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle/vim-fugitive.vim"]
	path = bundle/vim-fugitive.vim
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-less.vim"]
	path = bundle/vim-less.vim
	url = https://github.com/groenewege/vim-less
[submodule "bundle/vim-eunuch.vim"]
	path = bundle/vim-eunuch.vim
	url = https://github.com/tpope/vim-eunuch
[submodule "bundle/colorizer.vim"]
	path = bundle/colorizer.vim
	url = https://github.com/lilydjwg/colorizer
[submodule "bundle/vCoolor.vim"]
	path = bundle/vCoolor.vim
	url = https://github.com/KabbAmine/vCoolor.vim
[submodule "bundle/vim-gotham"]
	path = bundle/vim-gotham
	url = https://github.com/whatyouhide/vim-gotham
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = https://github.com/tpope/vim-haml
[submodule "bundle/SudoEdit"]
	path = bundle/SudoEdit
	url = https://github.com/chrisbra/SudoEdit.vim
[submodule "bundle/vim-easygrep"]
	path = bundle/vim-easygrep
	url = https://github.com/dkprice/vim-easygrep
